body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
  margin: 0px;
}

header{
  position: fixed;
  display: flex;
  z-index: 1;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  padding-left: 10px;
  height: 50px;
}

.Mission-text h2, h4{
  margin:0px;
}

nav span{
  align-items: flex-end;
  flex-direction: row;
  text-decoration: underline;
  justify-content: center;
}

.Mission{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  top: 69px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.Mission-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 1200px;
  height: 100px;
}

.Tea-of-the-Month{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  margin-bottom: 20px;
}

.Tea-of-the-Month h2, h4{
  margin: 10px;
}

.steeping-images{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1000px;
  height: 565px;
  margin-bottom: 100px;
}

.image{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.img-text-container{
  height: 260px;
  width: 300px;
}

.image-text{
  text-align: center;
  margin:0px;
}

 .image-bottom {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  width: 700px;
  height: 600px;
  justify-content: space-around;
  margin:auto;
  margin-top:50px;
}

.image-bottom.img-text-container{
  margin-right: 10px;
  margin-left: 10px;
}

.locations{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: space-around;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 20px;
  opacity: 1;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.The-tea-cozy{
  border: red solid 2px;
}

.copyright{
  display: flex;
  width: 100%
}

.copyright h5{
  margin-left: 10px;
}
